$light-indigo: #7158e2;
$mandarin: #ff9f1a;
$red-orange: #ff3838;



$primary:       $light-indigo;

$success:       $mandarin;
$danger:        $red-orange;






@import "./node_modules/bootstrap/scss/bootstrap.scss";