$light-indigo: #5E17EB;
$mandarin: #FB8C00;
$red-orange: #FF0074;



$primary:       $light-indigo;

$success:       $mandarin;
$danger:        $red-orange;






@import "./node_modules/bootstrap/scss/bootstrap.scss";