html {
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.movil-sm {
    width: 100%;
    max-width: 550px;
    /* buscar esta clase en otros archivos para eliminarlo y cmabiarlo por col */
}

.table-h {
    max-height: 250px;
}

.button-w {
    width: 100%;
}

@media (width >=576px) {
    .button-w {
        min-width: 128px;
        width: 150px;
        max-height: 200px;
    }

    .img-user-xl {

        width: 250px;
        height: 250px;
    }

}

.top {
    margin-top: 87px !important;
}

@media (width >=768px) {
    .top {
        margin-top: 105px !important;
    }
}




.nav-w {
    min-width: 300px;
    max-width: 300px;

}

.nav-position {
    transform: translateX(-500%);
}

.yes-icon {
    width: 30px;
}


.logo {
    width: 50px;
}

.logo-xl {
    width: 240px;
}


.img-user {

    width: 150px;
    height: 150px;
}

.add {
    width: 50px;
    height: 50px;
}

.icon-list {
    width: 45px;
    height: 45px;
}

.iconslist {
    width: 15px;

}


.img-user-xl {

    width: 200px;
    height: 200px;
}

@media (width >=576px) {

    .img-user-xl {

        width: 250px;
        height: 250px;
    }


}

@media (width >=768px) {
    .img-user-xl {

        width: 300px;
        height: 300px;
    }
}

.f-little {
    font-size: 14px;
}

.f-u-little {
    font-size: 12px;

}