html {
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.movil-sm {
    width: 100%;
    max-width: 550px;
}

.movil-sm-h {
    max-height: 200px;
}

.button-w {
    width: 100%;
}

@media (width > 576px) {
    .button-w {
        min-width: 128px;
        width: 150px;
        max-height: 200px;
    }
}

.yes-icon {
    width: 30px;
}

.logo {
    width: 40px;
}

.f-little {
    font-size: 14px;
}

.f-u-little {
    font-size: 12px;

}